#maincontainer {
    display:flex;
    justify-content: center;
}

#eventcontainer {
    display:flex;
    align-items: center;
    border: 1px solid black;
    justify-content: space-around;
    font-family: "pacifico";
    padding:20px;
    font-size:20px;
}

#firstcontainer {
    padding-right:50px;
}

p {
    margin:0px;
}

.iconplus {
    margin-left:50px;
    width:30px;
    height:30px;
}
