@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

form {
  font-family: "Pacifico";

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  padding: 20px;
}

#formcontainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sndformcontainer {
  text-align: center;
  border: 1px solid black;
}

.space {
  display: flex;
  justify-content: space-between;
}

label,
h3 {
  font-family: "Pacifico";
}

input {
  border: 1px solid;
  background: #f7fff7;
}

button {
  padding: 4px;
  border-radius: 100px;
  background: #4f6d7a;
  color: #f7fff7;
  font-family: "Pacifico";
  font-size: 20px;
  border: none;
  box-shadow: -7px 5px 17px 3px rgba(112, 112, 112, 0.84);
}

button:hover {
  background-color: rgba(79, 109, 122, 0.8);
  cursor:pointer;
}
